.background {
    background-image: url("../../assets/loginForm2.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
}

.form {
    width: 50vh;
    min-height: 10vh;
    padding: 2rem;
    color: #333333 !important;
}

.formControl {
    justify-items: center;
    width: 100%;
    margin: 1rem 0 !important;
}

.label {
    font-size: 1.3rem !important;
}

.input {
    padding: 12px 0 5px;
    font-size: 1.3rem !important;
}